# JavaScript / TypeScript
node_modules
dist
yarn-error.log
tsconfig.tsbuildinfo
yarn.lock
package-lock.json
.yarn

# Environment
.env
.env.*

# pylon (build directory)
.pylon

# SPDX-License-Identifier: (EUPL-1.2)
# Copyright © 2024 cronit KG
